In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
file = ('Resources/titanic.csv')

In [3]:
df = pd.read_csv(file)

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic_df = df[['Name', 'Sex', 'Age', 'Pclass', 'Survived']]
titanic_df.head()

,Name,Sex,Age,Pclass,Survived
0,"Braund, Mr. Owen Harris",male,22.0,3,0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,1
2,"Heikkinen, Miss. Laina",female,26.0,3,1
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,1
4,"Allen, Mr. William Henry",male,35.0,3,0

In [6]:
titanic_df.set_index('Name')
titanic_df.head()

,Name,Sex,Age,Pclass,Survived
0,"Braund, Mr. Owen Harris",male,22.0,3,0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,1
2,"Heikkinen, Miss. Laina",female,26.0,3,1
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,1
4,"Allen, Mr. William Henry",male,35.0,3,0

In [7]:
titanic_df = titanic_df.rename(columns={'Pclass': 'Ticket Class'})
titanic_df.head()

,Name,Sex,Age,Ticket Class,Survived
0,"Braund, Mr. Owen Harris",male,22.0,3,0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,1
2,"Heikkinen, Miss. Laina",female,26.0,3,1
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,1
4,"Allen, Mr. William Henry",male,35.0,3,0

In [8]:
titanic_df['Survived'] = titanic_df['Survived'].replace([0], 'No')
titanic_df['Survived'] = titanic_df['Survived'].replace([1], 'Yes')
titanic_df.head()

,Name,Sex,Age,Ticket Class,Survived
0,"Braund, Mr. Owen Harris",male,22.0,3,No
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,Yes
2,"Heikkinen, Miss. Laina",female,26.0,3,Yes
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,Yes
4,"Allen, Mr. William Henry",male,35.0,3,No

In [9]:
titanic_survivor_df = titanic_df.loc[(titanic_df['Survived'] == 'Yes')]
titanic_survivor_df.head()

,Name,Sex,Age,Ticket Class,Survived
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,Yes
2,"Heikkinen, Miss. Laina",female,26.0,3,Yes
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,Yes
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,3,Yes
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,2,Yes

In [11]:
titanic_df.to_csv(index=False)

'Name,Sex,Age,Ticket Class,Survived\n"Braund, Mr. Owen Harris",male,22.0,3,No\n"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,Yes\n"Heikkinen, Miss. Laina",female,26.0,3,Yes\n"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,Yes\n"Allen, Mr. William Henry",male,35.0,3,No\n"Moran, Mr. James",male,,3,No\n"McCarthy, Mr. Timothy J",male,54.0,1,No\n"Palsson, Master. Gosta Leonard",male,2.0,3,No\n"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,3,Yes\n"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,2,Yes\n"Sandstrom, Miss. Marguerite Rut",female,4.0,3,Yes\n"Bonnell, Miss. Elizabeth",female,58.0,1,Yes\n"Saundercock, Mr. William Henry",male,20.0,3,No\n"Andersson, Mr. Anders Johan",male,39.0,3,No\n"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,3,No\n"Hewlett, Mrs. (Mary D Kingcome) ",female,55.0,2,Yes\n"Rice, Master. Eugene",male,2.0,3,No\n"Williams, Mr. Charles Eugene",male,,2,Yes\n"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.0,3,No\n"Masselmani, Mrs. Fatima",female,,3,Yes\n"Fynney, Mr. Joseph J",male,35.0,2,No\n"Beesley, Mr. Lawrence",male,34.0,2,Yes\n"McGowan, Miss. Anna ""Annie""",female,15.0,3,Yes\n"Sloper, Mr. William Thompson",male,28.0,1,Yes\n"Palsson, Miss. Torborg Danira",female,8.0,3,No\n"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.0,3,Yes\n"Emir, Mr. Farred Chehab",male,,3,No\n"Fortune, Mr. Charles Alexander",male,19.0,1,No\n"O\'Dwyer, Miss. Ellen ""Nellie""",female,,3,Yes\n"Todoroff, Mr. Lalio",male,,3,No\n"Uruchurtu, Don. Manuel E",male,40.0,1,No\n"Spencer, Mrs. William Augustus (Marie Eugenie)",female,,1,Yes\n"Glynn, Miss. Mary Agatha",female,,3,Yes\n"Wheadon, Mr. Edward H",male,66.0,2,No\n"Meyer, Mr. Edgar Joseph",male,28.0,1,No\n"Holverson, Mr. Alexander Oskar",male,42.0,1,No\n"Mamee, Mr. Hanna",male,,3,Yes\n"Cann, Mr. Ernest Charles",male,21.0,3,No\n"Vander Planke, Miss. Augusta Maria",female,18.0,3,No\n"Nicola-Yarred, Miss. Jamila",female,14.0,3,Yes\n"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,3,No\n"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.0,2,No\n"Kraeff, Mr. Theodor",male,,3,No\n"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,2,Yes\n"Devaney, Miss. Margaret Delia",female,19.0,3,Yes\n"Rogers, Mr. William John",male,,3,No\n"Lennon, Mr. Denis",male,,3,No\n"O\'Driscoll, Miss. Bridget",female,,3,Yes\n"Samaan, Mr. Youssef",male,,3,No\n"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,3,No\n"Panula, Master. Juha Niilo",male,7.0,3,No\n"Nosworthy, Mr. Richard Cater",male,21.0,3,No\n"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,Yes\n"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.0,2,Yes\n"Ostby, Mr. Engelhart Cornelius",male,65.0,1,No\n"Woolner, Mr. Hugh",male,,1,Yes\n"Rugg, Miss. Emily",female,21.0,2,Yes\n"Novel, Mr. Mansouer",male,28.5,3,No\n"West, Miss. Constance Mirium",female,5.0,2,Yes\n"Goodwin, Master. William Frederick",male,11.0,3,No\n"Sirayanian, Mr. Orsen",male,22.0,3,No\n"Icard, Miss. Amelie",female,38.0,1,Yes\n"Harris, Mr. Henry Birkhardt",male,45.0,1,No\n"Skoog, Master. Harald",male,4.0,3,No\n"Stewart, Mr. Albert A",male,,1,No\n"Moubarek, Master. Gerios",male,,3,Yes\n"Nye, Mrs. (Elizabeth Ramell)",female,29.0,2,Yes\n"Crease, Mr. Ernest James",male,19.0,3,No\n"Andersson, Miss. Erna Alexandra",female,17.0,3,Yes\n"Kink, Mr. Vincenz",male,26.0,3,No\n"Jenkin, Mr. Stephen Curnow",male,32.0,2,No\n"Goodwin, Miss. Lillian Amy",female,16.0,3,No\n"Hood, Mr. Ambrose Jr",male,21.0,2,No\n"Chronopoulos, Mr. Apostolos",male,26.0,3,No\n"Bing, Mr. Lee",male,32.0,3,Yes\n"Moen, Mr. Sigurd Hansen",male,25.0,3,No\n"Staneff, Mr. Ivan",male,,3,No\n"Moutal, Mr. Rahamin Haim",male,,3,No\n"Caldwell, Master. Alden Gates",male,0.83,2,Yes\n"Dowdell, Miss. Elizabeth",female,30.0,3,Yes\n"Waelens, Mr. Achille",male,22.0,3,No\n"Sheerlinck, Mr. Jan Baptist",male,29.0,3,Yes\n"McDermott, Miss. Brigdet Delia",female,,3,Yes\n"Carrau, Mr. Francisco M",male,28.0,1,No\n"Ilett, Miss. Bertha",female,17.0,2,Yes\n"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.0,3,Yes\n"Ford, Mr. William Neal",male,16.0,3,No\n"Slocovski, Mr. Selman Francis",male,,3,No\n"Fortune, Miss. Mabel Helen",female,23.0,1,Yes\n"Celotti, Mr. Francesco",male,24.0,3,No\n"Christmann, Mr. Emil",male,29.0,3,No\n"Andreasson, Mr. Paul Edvin",male,20.0,3,No\n"Chaffee, Mr. Herbert Fuller",male,46.0,1,No\n"Dean, Mr. Bertram Frank",male,26.0,3,No\n"Coxon, Mr. Daniel",male,59.0,3,No\n"Shorney, Mr. Charles Joseph",male,,3,No\n"Goldschmidt, Mr. George B",male,71.0,1,No\n"Greenfield, Mr. William Bertram",male,23.0,1,Yes\n"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,2,Yes\n"Kantor, Mr. Sinai",male,34.0,2,No\n"Petranec, Miss. Matilda",female,28.0,3,No\n"Petroff, Mr. Pastcho (""Pentcho"")",male,,3,No\n"White, Mr. Richard Frasar",male,21.0,1,No\n"Johansson, Mr. Gustaf Joel",male,33.0,3,No\n"Gustafsson, Mr. Anders Vilhelm",male,37.0,3,No\n"Mionoff, Mr. Stoytcho",male,28.0,3,No\n"Salkjelsvik, Miss. Anna Kristine",female,21.0,3,Yes\n"Moss, Mr. Albert Johan",male,,3,Yes\n"Rekic, Mr. Tido",male,38.0,3,No\n"Moran, Miss. Bertha",female,,3,Yes\n"Porter, Mr. Walter Chamberlain",male,47.0,1,No\n"Zabour, Miss. Hileni",female,14.5,3,No\n"Barton, Mr. David John",male,22.0,3,No\n"Jussila, Miss. Katriina",female,20.0,3,No\n"Attalah, Miss. Malake",female,17.0,3,No\n"Pekoniemi, Mr. Edvard",male,21.0,3,No\n"Connors, Mr. Patrick",male,70.5,3,No\n"Turpin, Mr. William John Robert",male,29.0,2,No\n"Baxter, Mr. Quigg Edmond",male,24.0,1,No\n"Andersson, Miss. Ellis Anna Maria",female,2.0,3,No\n"Hickman, Mr. Stanley George",male,21.0,2,No\n"Moore, Mr. Leonard Charles",male,,3,No\n"Nasser, Mr. Nicholas",male,32.5,2,No\n"Webber, Miss. Susan",female,32.5,2,Yes\n"White, Mr. Percival Wayland",male,54.0,1,No\n"Nicola-Yarred, Master. Elias",male,12.0,3,Yes\n"McMahon, Mr. Martin",male,,3,No\n"Madsen, Mr. Fridtjof Arne",male,24.0,3,Yes\n"Peter, Miss. Anna",female,,3,Yes\n"Ekstrom, Mr. Johan",male,45.0,3,No\n"Drazenoic, Mr. Jozef",male,33.0,3,No\n"Coelho, Mr. Domingos Fernandeo",male,20.0,3,No\n"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,3,No\n"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,2,Yes\n"Sobey, Mr. Samuel James Hayden",male,25.0,2,No\n"Richard, Mr. Emile",male,23.0,2,No\n"Newsom, Miss. Helen Monypeny",female,19.0,1,Yes\n"Futrelle, Mr. Jacques Heath",male,37.0,1,No\n"Osen, Mr. Olaf Elon",male,16.0,3,No\n"Giglio, Mr. Victor",male,24.0,1,No\n"Boulos, Mrs. Joseph (Sultana)",female,,3,No\n"Nysten, Miss. Anna Sofia",female,22.0,3,Yes\n"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24.0,3,Yes\n"Burke, Mr. Jeremiah",male,19.0,3,No\n"Andrew, Mr. Edgardo Samuel",male,18.0,2,No\n"Nicholls, Mr. Joseph Charles",male,19.0,2,No\n"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,3,Yes\n"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,3,No\n"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,2,No\n"Byles, Rev. Thomas Roussel Davids",male,42.0,2,No\n"Bateman, Rev. Robert James",male,51.0,2,No\n"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,Yes\n"Meo, Mr. Alfonzo",male,55.5,3,No\n"van Billiard, Mr. Austin Blyler",male,40.5,3,No\n"Olsen, Mr. Ole Martin",male,,3,No\n"Williams, Mr. Charles Duane",male,51.0,1,No\n"Gilnagh, Miss. Katherine ""Katie""",female,16.0,3,Yes\n"Corn, Mr. Harry",male,30.0,3,No\n"Smiljanic, Mr. Mile",male,,3,No\n"Sage, Master. Thomas Henry",male,,3,No\n"Cribb, Mr. John Hatfield",male,44.0,3,No\n"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40.0,2,Yes\n"Bengtsson, Mr. John Viktor",male,26.0,3,No\n"Calic, Mr. Jovo",male,17.0,3,No\n"Panula, Master. Eino Viljami",male,1.0,3,No\n"Goldsmith, Master. Frank John William ""Frankie""",male,9.0,3,Yes\n"Chibnall, Mrs. (Edith Martha Bowerman)",female,,1,Yes\n"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,3,No\n"Baumann, Mr. John D",male,,1,No\n"Ling, Mr. Lee",male,28.0,3,No\n"Van der hoef, Mr. Wyckoff",male,61.0,1,No\n"Rice, Master. Arthur",male,4.0,3,No\n"Johnson, Miss. Eleanor Ileen",female,1.0,3,Yes\n"Sivola, Mr. Antti Wilhelm",male,21.0,3,No\n"Smith, Mr. James Clinch",male,56.0,1,No\n"Klasen, Mr. Klas Albin",male,18.0,3,No\n"Lefebre, Master. Henry Forbes",male,,3,No\n"Isham, Miss. Ann Elizabeth",female,50.0,1,No\n"Hale, Mr. Reginald",male,30.0,2,No\n"Leonard, Mr. Lionel",male,36.0,3,No\n"Sage, Miss. Constance Gladys",female,,3,No\n"Pernot, Mr. Rene",male,,2,No\n"Asplund, Master. Clarence Gustaf Hugo",male,9.0,3,No\n"Becker, Master. Richard F",male,1.0,2,Yes\n"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,3,Yes\n"Rood, Mr. Hugh Roscoe",male,,1,No\n"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,,3,Yes\n"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.0,1,Yes\n"Bourke, Mr. John",male,40.0,3,No\n"Turcin, Mr. Stjepan",male,36.0,3,No\n"Pinsky, Mrs. (Rosa)",female,32.0,2,Yes\n"Carbines, Mr. William",male,19.0,2,No\n"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,3,Yes\n"Navratil, Master. Michel M",male,3.0,2,Yes\n"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,1,Yes\n"Lurette, Miss. Elise",female,58.0,1,Yes\n"Mernagh, Mr. Robert",male,,3,No\n"Olsen, Mr. Karl Siegwart Andreas",male,42.0,3,No\n"Madigan, Miss. Margaret ""Maggie""",female,,3,Yes\n"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,2,No\n"Vande Walle, Mr. Nestor Cyriel",male,28.0,3,No\n"Sage, Mr. Frederick",male,,3,No\n"Johanson, Mr. Jakob Alfred",male,34.0,3,No\n"Youseff, Mr. Gerious",male,45.5,3,No\n"Cohen, Mr. Gurshon ""Gus""",male,18.0,3,Yes\n"Strom, Miss. Telma Matilda",female,2.0,3,No\n"Backstrom, Mr. Karl Alfred",male,32.0,3,No\n"Albimona, Mr. Nassef Cassem",male,26.0,3,Yes\n"Carr, Miss. Helen ""Ellen""",female,16.0,3,Yes\n"Blank, Mr. Henry",male,40.0,1,Yes\n"Ali, Mr. Ahmed",male,24.0,3,No\n"Cameron, Miss. Clear Annie",female,35.0,2,Yes\n"Perkin, Mr. John Henry",male,22.0,3,No\n"Givard, Mr. Hans Kristensen",male,30.0,2,No\n"Kiernan, Mr. Philip",male,,3,No\n"Newell, Miss. Madeleine",female,31.0,1,Yes\n"Honkanen, Miss. Eliina",female,27.0,3,Yes\n"Jacobsohn, Mr. Sidney Samuel",male,42.0,2,No\n"Bazzani, Miss. Albina",female,32.0,1,Yes\n"Harris, Mr. Walter",male,30.0,2,No\n"Sunderland, Mr. Victor Francis",male,16.0,3,Yes\n"Bracken, Mr. James H",male,27.0,2,No\n"Green, Mr. George Henry",male,51.0,3,No\n"Nenkoff, Mr. Christo",male,,3,No\n"Hoyt, Mr. Frederick Maxfield",male,38.0,1,Yes\n"Berglund, Mr. Karl Ivar Sven",male,22.0,3,No\n"Mellors, Mr. William John",male,19.0,2,Yes\n"Lovell, Mr. John Hall (""Henry"")",male,20.5,3,No\n"Fahlstrom, Mr. Arne Jonas",male,18.0,2,No\n"Lefebre, Miss. Mathilde",female,,3,No\n"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,Yes\n"Larsson, Mr. Bengt Edvin",male,29.0,3,No\n"Sjostedt, Mr. Ernst Adolf",male,59.0,2,No\n"Asplund, Miss. Lillian Gertrud",female,5.0,3,Yes\n"Leyson, Mr. Robert William Norman",male,24.0,2,No\n"Harknett, Miss. Alice Phoebe",female,,3,No\n"Hold, Mr. Stephen",male,44.0,2,No\n"Collyer, Miss. Marjorie ""Lottie""",female,8.0,2,Yes\n"Pengelly, Mr. Frederick William",male,19.0,2,No\n"Hunt, Mr. George Henry",male,33.0,2,No\n"Zabour, Miss. Thamine",female,,3,No\n"Murphy, Miss. Katherine ""Kate""",female,,3,Yes\n"Coleridge, Mr. Reginald Charles",male,29.0,2,No\n"Maenpaa, Mr. Matti Alexanteri",male,22.0,3,No\n"Attalah, Mr. Sleiman",male,30.0,3,No\n"Minahan, Dr. William Edward",male,44.0,1,No\n"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,3,No\n"Hamalainen, Mrs. William (Anna)",female,24.0,2,Yes\n"Beckwith, Mr. Richard Leonard",male,37.0,1,Yes\n"Carter, Rev. Ernest Courtenay",male,54.0,2,No\n"Reed, Mr. James George",male,,3,No\n"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,3,No\n"Stead, Mr. William Thomas",male,62.0,1,No\n"Lobb, Mr. William Arthur",male,30.0,3,No\n"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,3,No\n"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.0,3,Yes\n"Thorne, Mrs. Gertrude Maybelle",female,,1,Yes\n"Cherry, Miss. Gladys",female,30.0,1,Yes\n"Ward, Miss. Anna",female,35.0,1,Yes\n"Parrish, Mrs. (Lutie Davis)",female,50.0,2,Yes\n"Smith, Mr. Thomas",male,,3,No\n"Asplund, Master. Edvin Rojj Felix",male,3.0,3,Yes\n"Taussig, Mr. Emil",male,52.0,1,No\n"Harrison, Mr. William",male,40.0,1,No\n"Henry, Miss. Delia",female,,3,No\n"Reeves, Mr. David",male,36.0,2,No\n"Panula, Mr. Ernesti Arvid",male,16.0,3,No\n"Persson, Mr. Ernst Ulrik",male,25.0,3,Yes\n"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,1,Yes\n"Bissette, Miss. Amelia",female,35.0,1,Yes\n"Cairns, Mr. Alexander",male,,1,No\n"Tornquist, Mr. William Henry",male,25.0,3,Yes\n"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41.0,2,Yes\n"Natsch, Mr. Charles H",male,37.0,1,No\n"Healy, Miss. Hanora ""Nora""",female,,3,Yes\n"Andrews, Miss. Kornelia Theodosia",female,63.0,1,Yes\n"Lindblom, Miss. Augusta Charlotta",female,45.0,3,No\n"Parkes, Mr. Francis ""Frank""",male,,2,No\n"Rice, Master. Eric",male,7.0,3,No\n"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,3,Yes\n"Duane, Mr. Frank",male,65.0,3,No\n"Olsson, Mr. Nils Johan Goransson",male,28.0,3,No\n"de Pelsmaeker, Mr. Alfons",male,16.0,3,No\n"Dorking, Mr. Edward Arthur",male,19.0,3,Yes\n"Smith, Mr. Richard William",male,,1,No\n"Stankovic, Mr. Ivan",male,33.0,3,No\n"de Mulder, Mr. Theodore",male,30.0,3,Yes\n"Naidenoff, Mr. Penko",male,22.0,3,No\n"Hosono, Mr. Masabumi",male,42.0,2,Yes\n"Connolly, Miss. Kate",female,22.0,3,Yes\n"Barber, Miss. Ellen ""Nellie""",female,26.0,1,Yes\n"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0,1,Yes\n"Levy, Mr. Rene Jacques",male,36.0,2,No\n"Haas, Miss. Aloisia",female,24.0,3,No\n"Mineff, Mr. Ivan",male,24.0,3,No\n"Lewy, Mr. Ervin G",male,,1,No\n"Hanna, Mr. Mansour",male,23.5,3,No\n"Allison, Miss. Helen Loraine",female,2.0,1,No\n"Saalfeld, Mr. Adolphe",male,,1,Yes\n"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,1,Yes\n"Kelly, Miss. Anna Katherine ""Annie Kate""",female,,3,Yes\n"McCoy, Mr. Bernard",male,,3,Yes\n"Johnson, Mr. William Cahoone Jr",male,19.0,3,No\n"Keane, Miss. Nora A",female,,2,Yes\n"Williams, Mr. Howard Hugh ""Harry""",male,,3,No\n"Allison, Master. Hudson Trevor",male,0.92,1,Yes\n"Fleming, Miss. Margaret",female,,1,Yes\n"Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)",female,17.0,1,Yes\n"Abelson, Mr. Samuel",male,30.0,2,No\n"Francatelli, Miss. Laura Mabel",female,30.0,1,Yes\n"Hays, Miss. Margaret Bechstein",female,24.0,1,Yes\n"Ryerson, Miss. Emily Borie",female,18.0,1,Yes\n"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,2,No\n"Hendekovic, Mr. Ignjac",male,28.0,3,No\n"Hart, Mr. Benjamin",male,43.0,2,No\n"Nilsson, Miss. Helmina Josefina",female,26.0,3,Yes\n"Kantor, Mrs. Sinai (Miriam Sternin)",female,24.0,2,Yes\n"Moraweck, Dr. Ernest",male,54.0,2,No\n"Wick, Miss. Mary Natalie",female,31.0,1,Yes\n"Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)",female,40.0,1,Yes\n"Dennis, Mr. Samuel",male,22.0,3,No\n"Danoff, Mr. Yoto",male,27.0,3,No\n"Slayter, Miss. Hilda Mary",female,30.0,2,Yes\n"Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)",female,22.0,2,Yes\n"Sage, Mr. George John Jr",male,,3,No\n"Young, Miss. Marie Grice",female,36.0,1,Yes\n"Nysveen, Mr. Johan Hansen",male,61.0,3,No\n"Ball, Mrs. (Ada E Hall)",female,36.0,2,Yes\n"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,3,Yes\n"Hippach, Miss. Jean Gertrude",female,16.0,1,Yes\n"McCoy, Miss. Agnes",female,,3,Yes\n"Partner, Mr. Austen",male,45.5,1,No\n"Graham, Mr. George Edward",male,38.0,1,No\n"Vander Planke, Mr. Leo Edmondus",male,16.0,3,No\n"Frauenthal, Mrs. Henry William (Clara Heinsheimer)",female,,1,Yes\n"Denkoff, Mr. Mitto",male,,3,No\n"Pears, Mr. Thomas Clinton",male,29.0,1,No\n"Burns, Miss. Elizabeth Margaret",female,41.0,1,Yes\n"Dahl, Mr. Karl Edwart",male,45.0,3,Yes\n"Blackwell, Mr. Stephen Weart",male,45.0,1,No\n"Navratil, Master. Edmond Roger",male,2.0,2,Yes\n"Fortune, Miss. Alice Elizabeth",female,24.0,1,Yes\n"Collander, Mr. Erik Gustaf",male,28.0,2,No\n"Sedgwick, Mr. Charles Frederick Waddington",male,25.0,2,No\n"Fox, Mr. Stanley Hubert",male,36.0,2,No\n"Brown, Miss. Amelia ""Mildred""",female,24.0,2,Yes\n"Smith, Miss. Marion Elsie",female,40.0,2,Yes\n"Davison, Mrs. Thomas Henry (Mary E Finck)",female,,3,Yes\n"Coutts, Master. William Loch ""William""",male,3.0,3,Yes\n"Dimic, Mr. Jovan",male,42.0,3,No\n"Odahl, Mr. Nils Martin",male,23.0,3,No\n"Williams-Lambert, Mr. Fletcher Fellows",male,,1,No\n"Elias, Mr. Tannous",male,15.0,3,No\n"Arnold-Franchi, Mr. Josef",male,25.0,3,No\n"Yousif, Mr. Wazli",male,,3,No\n"Vanden Steen, Mr. Leo Peter",male,28.0,3,No\n"Bowerman, Miss. Elsie Edith",female,22.0,1,Yes\n"Funk, Miss. Annie Clemmer",female,38.0,2,No\n"McGovern, Miss. Mary",female,,3,Yes\n"Mockler, Miss. Helen Mary ""Ellie""",female,,3,Yes\n"Skoog, Mr. Wilhelm",male,40.0,3,No\n"del Carlo, Mr. Sebastiano",male,29.0,2,No\n"Barbara, Mrs. (Catherine David)",female,45.0,3,No\n"Asim, Mr. Adola",male,35.0,3,No\n"O\'Brien, Mr. Thomas",male,,3,No\n"Adahl, Mr. Mauritz Nils Martin",male,30.0,3,No\n"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.0,1,Yes\n"Moussa, Mrs. (Mantoura Boulos)",female,,3,Yes\n"Jermyn, Miss. Annie",female,,3,Yes\n"Aubart, Mme. Leontine Pauline",female,24.0,1,Yes\n"Harder, Mr. George Achilles",male,25.0,1,Yes\n"Wiklund, Mr. Jakob Alfred",male,18.0,3,No\n"Beavan, Mr. William Thomas",male,19.0,3,No\n"Ringhini, Mr. Sante",male,22.0,1,No\n"Palsson, Miss. Stina Viola",female,3.0,3,No\n"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,,1,Yes\n"Landergren, Miss. Aurora Adelia",female,22.0,3,Yes\n"Widener, Mr. Harry Elkins",male,27.0,1,No\n"Betros, Mr. Tannous",male,20.0,3,No\n"Gustafsson, Mr. Karl Gideon",male,19.0,3,No\n"Bidois, Miss. Rosalie",female,42.0,1,Yes\n"Nakid, Miss. Maria (""Mary"")",female,1.0,3,Yes\n"Tikkanen, Mr. Juho",male,32.0,3,No\n"Holverson, Mrs. Alexander Oskar (Mary Aline Towner)",female,35.0,1,Yes\n"Plotcharsky, Mr. Vasil",male,,3,No\n"Davies, Mr. Charles Henry",male,18.0,2,No\n"Goodwin, Master. Sidney Leonard",male,1.0,3,No\n"Buss, Miss. Kate",female,36.0,2,Yes\n"Sadlier, Mr. Matthew",male,,3,No\n"Lehmann, Miss. Bertha",female,17.0,2,Yes\n"Carter, Mr. William Ernest",male,36.0,1,Yes\n"Jansson, Mr. Carl Olof",male,21.0,3,Yes\n"Gustafsson, Mr. Johan Birger",male,28.0,3,No\n"Newell, Miss. Marjorie",female,23.0,1,Yes\n"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)",female,24.0,3,Yes\n"Johansson, Mr. Erik",male,22.0,3,No\n"Olsson, Miss. Elina",female,31.0,3,No\n"McKane, Mr. Peter David",male,46.0,2,No\n"Pain, Dr. Alfred",male,23.0,2,No\n"Trout, Mrs. William H (Jessie L)",female,28.0,2,Yes\n"Niskanen, Mr. Juha",male,39.0,3,Yes\n"Adams, Mr. John",male,26.0,3,No\n"Jussila, Miss. Mari Aina",female,21.0,3,No\n"Hakkarainen, Mr. Pekka Pietari",male,28.0,3,No\n"Oreskovic, Miss. Marija",female,20.0,3,No\n"Gale, Mr. Shadrach",male,34.0,2,No\n"Widegren, Mr. Carl/Charles Peter",male,51.0,3,No\n"Richards, Master. William Rowe",male,3.0,2,Yes\n"Birkeland, Mr. Hans Martin Monsen",male,21.0,3,No\n"Lefebre, Miss. Ida",female,,3,No\n"Sdycoff, Mr. Todor",male,,3,No\n"Hart, Mr. Henry",male,,3,No\n"Minahan, Miss. Daisy E",female,33.0,1,Yes\n"Cunningham, Mr. Alfred Fleming",male,,2,No\n"Sundman, Mr. Johan Julian",male,44.0,3,Yes\n"Meek, Mrs. Thomas (Annie Louise Rowley)",female,,3,No\n"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,2,Yes\n"Silven, Miss. Lyyli Karoliina",female,18.0,2,Yes\n"Matthews, Mr. William John",male,30.0,2,No\n"Van Impe, Miss. Catharina",female,10.0,3,No\n"Gheorgheff, Mr. Stanio",male,,3,No\n"Charters, Mr. David",male,21.0,3,No\n"Zimmerman, Mr. Leo",male,29.0,3,No\n"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)",female,28.0,3,No\n"Rosblom, Mr. Viktor Richard",male,18.0,3,No\n"Wiseman, Mr. Phillippe",male,,3,No\n"Clarke, Mrs. Charles V (Ada Maria Winfield)",female,28.0,2,Yes\n"Phillips, Miss. Kate Florence (""Mrs Kate Louise Phillips Marshall"")",female,19.0,2,Yes\n"Flynn, Mr. James",male,,3,No\n"Pickard, Mr. Berk (Berk Trembisky)",m